/*============= Variáveis ==============*/
html {
  --color-background-page: rgb(66, 66, 66);
  --color-background-container: rgb(17, 9, 9);
  --color-background: rgb(220, 245, 210) ;
  --color-white: rgb(219, 218, 218) ;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }
li { list-style: none; padding: 0; }
ul { padding: 0; }

:root { font-size: 10px; }

body {
  padding-top: 3rem;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;

  background-color: var(--color-background-page);
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  position: relative;
  width: 80vw;
  max-width: 70rem;
  height: 50rem;
  
  padding: 2rem 4rem;
  background-color: var(--color-background-container);
  border-radius: .5rem;
}

.header {
  width: 100%;
  height: 4rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3rem ;

  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(223, 69, 176);

  animation: slide_right .8s linear;
  
}

.menu {
  text-align: right;
  color: rgb(207, 90, 90);
}

.menu li {
  display: inline-block;
  padding: .4rem 1rem;
  font-weight: 700;

  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: calc(0.2s * var(--i));


}


.menu li:hover {
  background: rgb(201, 61, 61);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 2rem;
}

.content {
  position: relative; 
  width: 100%;
  height: calc(100% - 4rem);

  display: grid;
  grid-template-columns: 60% 30%;

  align-items: center;
  padding-bottom: 4rem;

}

.content .art {
  position: absolute;
  width: 23rem;
  opacity: .9;

  bottom: 2rem;
  right: 0;

  opacity: 0;
  animation: fase_in 2s linear forwards;
  animation-delay: 2s;
}

.info { max-width: 25rem; }

.info h1 { 
  font-size: 4.5rem;

  opacity: 0;
  animation: slide_left .8s linear forwards;
  animation-delay: .8s;
}

.info p {
  opacity: 0;
  animation: slide_right .8s linear forwards;
  animation-delay: 1.2s;
  text-align: justify;
}

.info > .readMore {
  font-size: 1.4rem;

  border: none;
  padding: .8rem 2rem;
  border-radius: 2rem;

  background-color: rgb(177, 52, 121);
  color: var(--color-white);

  cursor: pointer;
  transition: .5s;

  opacity: 0;
  animation: slide_top .5s linear forwards;
  animation-delay: 1.6s;
}

.info > .readMore:hover {
  transform: scale(1.1);
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  /*width: 100%;*/
  height: 3rem;
  /*background-color: violet;*/
}
footer .socialMedia {
  opacity: .6;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem 3rem 0;

  transition: .5s;

  opacity: 0;
  animation: fase_in .1s linear forwards;

  animation-delay: calc(2s + (0.2s * var(--i)));
}

footer .face {
  width: 3rem;
  height: 3rem;
}

footer .instagram {
  width: 2.5rem;
  height: 2.5rem;
}

footer .twitter {
  width: 3rem;
  height: 3rem;
}

footer img:hover {
  cursor: pointer;
  transform: scale(1.4);
  opacity: 1;
}


/* MEDIA */


@media (max-width: 650px) {
  .container {
    /*background-color: blue;*/
  }
  .info { max-width: 22rem; }
}



/* KEYFRAMES */


@keyframes slide_top {
  
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide_right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide_left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fase_in {
  0% { opacity: 0; }
  100% { opacity: 1;}
}