/*============= Variáveis ==============*/
html {
  --color-background-page: rgb(66, 66, 66);
  --color-background: #fcf0e9 ;
  --color-background-dark: rgb(109, 44, 0);
  --color-black: rgb(17, 9, 9);
  --color-white: rgb(219, 218, 218) ;
  --color-font: rgb(79, 51, 46, .7);
  /*--color-primari: rgba(255, 179, 132, .9);*/
  --color-primari: rgb(228, 96, 8);
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }
h1, h2, h3, p { padding: 0; margin: 0; }
li { list-style: none; padding: 0; display: inline;}
ul { padding: 0; }

:root { font-size: 10px; }

body {
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-variant: small-caps;

  background-color: var(--color-background-page);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

}

.card {
  width: 90vw;
  max-width: 100rem;
  min-height: 40rem;
  
  padding: .5rem 4rem;

  display: grid;
  grid-template-rows: 7rem 1fr 5rem;

  overflow: hidden;
  position: relative;
}
.card.-light {
  color: var(--color-font);
  background-color: var(--color-background);
}
.card.-dark {
  color: var(--color-background);
  background-color: var(--color-background-dark);
}

header {
  width: 100%;
 /* background-color: blueviolet;*/

  display: grid;
  grid-template-columns: 8rem 1fr;

  align-items: center;
}

header > .logo {
  width: 5.5rem;
  display: inline-block;
}

header > .menu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
  
}

.menu li { cursor: pointer; vertical-align: middle;}
.menu li:not(:last-child) { margin-right: 1.5rem; }

.menu .btnMode {
  width: 3rem;
  height: 3rem;
  background-color: rgb(207, 209, 209);
  border-radius: 1.5rem;
  display: inline-block;
  position: relative;
}

.menu .btnMode::after {
  content: "";
  
  background-position: center;
  background-repeat: no-repeat;
  /*display: block;*/
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.menu .dark-mode::after {
  background-image: url("./svg/moon.svg");
}
.menu .light-mode::after {
  background-image: url("./svg/sun.svg");
}


.menu li:hover:not(:last-child) {
  color: var(--color-primari);
  font-weight: 700;
  border-bottom: var(--color-primari) 2px solid;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center;
  align-items: center;
}

main > .container-text {
  /*background-color: aqua;*/
  justify-self: left;
}

.container-text > .title {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  max-width: 35rem;
}

.container-text > .title > span { 
  color: var(--color-primari); 
  font-size: 3.5rem;
  font-weight: 700;

}
.container-text > p { margin-top: 1.5rem; max-width: 35rem; }

.container-text > .btnLearMore {
  border-style: none;
  border-radius: 3rem;
  padding: .8rem 2rem;
  margin-top: 1.5rem;

  font-weight: 500;

  background-color: var(--color-primari);
  color: var(--color-background);
  cursor: pointer;
}

main > .container-img {
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img > .img-pao {
  width: 30rem;
}


footer {
  width: 100%;
  /*background-color: brown;*/
}

.container-socialMedia {

  width: 50rem;
  height: 5rem;

  /*background-color: aquamarine;*/

  display: flex;
  align-items: center;
  /*text-align: left;*/
  
}

.container-socialMedia a {
  margin-right: 1rem;
}

.container-socialMedia img {
  width: 3rem;
  /*opacity: .8;*/
}


.socialMedia .instagram {
  /*width: 2.5rem;*/
}

