/*============= Variáveis ==============*/
html {
  --color-background-page: rgb(36, 36, 70);
  --color-background: rgb(220, 245, 210) ;
  --color-black: rgb(29, 30, 31) ;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;

  background-color: var(--color-background-page);

  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btnSearch, .btnClose {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 60px;
  background-color: var(--color-background);
}

.btnSearch { border-radius: 20px 0 0 20px; }
.btnSearch > svg { width: 25px; height: 25px; }
.btnSearch > svg > path { fill: rgb(3, 110, 211); }
.btnSearch:hover > svg { transform: scale(1.1); cursor: pointer; }

.btnClose { border-radius: 0 20px 20px 0; }
.btnClose > svg { width: 12px; height: 12px; }
.btnClose > svg > path { fill: rgb(114, 113, 113); }
.btnClose:hover > svg { transform: scale(1.2); cursor: pointer; }
.btnClose:hover > svg > path { fill: brown; }

input {
  width: 280px;
  height: 60px;
  padding: 10px;

  background-color: var(--color-background);
  border-style: none;

  font-size: 22px;
  outline: none;
}